[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "external/inja"]
	path = external/inja
	url = https://github.com/pantor/inja.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
